<header class="sticky-top mb-5">
  <nav class="navbar navbar-dark bg-dark">
    <i class="text-white fa fa-bars mr-2"
    (click)="menu.abreMenu()"
    (keyup.space)="menu.abreMenu()"
    >

    </i>
    <a class="navbar-brand" [routerLink]="['cinema']" >Cinema Management</a>
    <app-menu #menu>
      <ul style="list-style-type: none;" *ngIf="user$ | async as user">
        <li *ngIf="user.username; else vazio">
          <a class="btn btn-primary medio" [routerLink]="['cinema']" >Home</a> 
        </li>
        <li *ngIf="user.username; else vazio">
          <br>
            <a class="btn btn-primary medio" [routerLink]="['cinema','novo-filme']" >Cadastrar Filme</a> 
        </li>
        <li *ngIf="user.username; else vazio" >
          <br>
          <a class="btn btn-primary medio" [routerLink]="['cinema','lista-filme']">Lista de Filmes</a>
        </li> 
        <li *ngIf="role$ == 'admin'" >
          <br>
          <a class="btn btn-primary medio" [routerLink]="['cinema','lista-gerente']">Lista de Gerente</a>
        </li>
        <li *ngIf="role$ == 'admin'" >
          <br>
          <a class="btn btn-primary medio" [routerLink]="['cinema','lista-endereco']">Lista de Endereco</a>
        </li>
        <li *ngIf="role$ == 'admin'" >
          <br>
          <a class="btn btn-primary medio" [routerLink]="['cinema','novo-gerente']">Cadastrar Gerente</a>
        </li>
        <li *ngIf="role$ == 'admin'" >
          <br>
          <a class="btn btn-primary medio" [routerLink]="['cinema','novo-endereco']">Cadastrar Endereço</a>
        </li>
        <li *ngIf="role$ == 'admin'" >
          <br>
          <a class="btn btn-primary medio" [routerLink]="['cinema','novo-cinema']">Cadastrar Cinema</a>
        </li>
        <li *ngIf="role$ == 'admin'" >
          <br>
          <a class="btn btn-primary medio" [routerLink]="['cinema','lista-cinema']">Listar Cinema</a>
        </li> 
        <li *ngIf="role$ == 'admin'">
          <br>
          <a class="btn btn-primary medio" [routerLink]="['cinema','novo-sessao']">Criar sessão</a>
        </li> 
        <li *ngIf="role$ == 'admin'">
          <br>
          <a class="btn btn-primary medio" [routerLink]="['cinema','lista-sessao']">Lista sessão</a>
        </li> 
        
      </ul>
    </app-menu>
    <div *ngIf="user$ | async as user" class="text-white ">
      <div *ngIf="user.username; else login">
        <i class="fa fa-user-circle mr-1"> </i>
        <a class="mr-1">{{ user.username }}</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div> 
  </nav>

  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']">Login</a>
    </span>
  </ng-template>

  <ng-template #vazio> 
    <span> 
    </span>
  </ng-template>
</header>
