<header class="sticky-top mb-5" >
  <nav class="navbar navbar-dark bg-dark">
    <i class="text-white fa fa-bars mr-2"
    (click)="menu.abreMenu()"
    (keyup.space)="menu.abreMenu()"
    (mouseenter)="menu.abreMenuMouse()"
    *ngIf="role$ == 'admin' || 'regular'"
    > 
    </i>
    <a class="navbar-brand" [routerLink]="['cinema']" >Cinema Management</a>
    <app-menu #menu>  
      <a class="nav-link"   [routerLink]="['cinema','cinema-dashboard']" *ngIf="role$ == 'admin'">
        <span data-feather="file-text" class="align-text-bottom"></span>
        Dashboard Insigth
      </a>
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase" *ngIf="role$ == 'admin'">
        <span>Sessão</span>
        <a class="link-secondary"  aria-label="Add a new report" [routerLink]="['cinema','lista-sessao']">
          <span data-feather="plus-circle" class="align-text-bottom"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2" *ngIf="role$ == 'admin'|| 'regular'">
        <li class="nav-item" *ngIf="role$ == 'admin'">
          <a class="nav-link"   [routerLink]="['cinema','novo-sessao']">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Cadastrar Sessão
          </a>
        </li>
        <li class="nav-item" *ngIf="role$ == 'admin' || 'regular'">
          <a class="nav-link"  [routerLink]="['cinema','lista-sessao']">
            <span data-feather="file-text" class="align-text-bottom"></span>
            CRUD Sessão
          </a>
        </li>
        <li class="nav-item" *ngIf="role$ == 'admin'">
          <a class="nav-link" [routerLink]="['cinema','grafico-filme']">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Gráfico Sessão
          </a>
        </li> 
      </ul>
      <!--Cinema-->
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase" *ngIf="role$ == 'admin'">
        <span>Cinema</span>
        <a class="link-secondary"  aria-label="Add a new report">
          <span data-feather="plus-circle" class="align-text-bottom"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2" *ngIf="role$ == 'admin'">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['cinema','novo-cinema']">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Cadastrar Cinema
          </a>
        </li>
        <li class="nav-item" *ngIf="role$ == 'admin'">
          <a class="nav-link" [routerLink]="['cinema','lista-cinema']">
            <span data-feather="file-text" class="align-text-bottom"></span>
            CRUD Cinema
          </a>
        </li>
        <li class="nav-item" *ngIf="role$ == 'admin'">
          <a class="nav-link"[routerLink]="['cinema','grafico-sessao']">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Gráfico Cinema
          </a>
        </li> 
      </ul>
      <!--Filme-->
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase" *ngIf="role$ == 'admin'">
        <span>Filme</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle" class="align-text-bottom"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2" *ngIf="role$ == 'admin' || 'regular'">
        <li class="nav-item" *ngIf="role$ == 'admin'">
          <a class="nav-link" [routerLink]="['cinema','novo-filme']">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Cadastrar Filme
          </a>
        </li>
        <li class="nav-item" *ngIf="role$ == 'admin' || 'regular'">
          <a class="nav-link" [routerLink]="['cinema','lista-filme']">
            <span data-feather="file-text" class="align-text-bottom"></span>
            CRUD Filme
          </a>
        </li> 
      </ul>
      <!--Gerente-->
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase"*ngIf="role$ == 'admin'">
        <span>Gerente</span>
        <a class="link-secondary"   aria-label="Add a new report">
          <span data-feather="plus-circle" class="align-text-bottom"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2" *ngIf="role$ == 'admin'">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['cinema','novo-gerente']">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Cadastrar Gerente
          </a>
        </li>
        <li class="nav-item" *ngIf="role$ == 'admin'">
          <a class="nav-link" [routerLink]="['cinema','novo-gerente']">
            <span data-feather="file-text" class="align-text-bottom"></span>
            CRUD Gerente
          </a>
        </li> 
      </ul>
      <!--Endereço-->
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase" *ngIf="role$ == 'admin'">
        <span>Endereço</span>
        <a class="link-secondary"  aria-label="Add a new report">
          <span data-feather="plus-circle" class="align-text-bottom"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2" *ngIf="role$ == 'admin'">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['cinema','novo-endereco']">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Cadastrar Endereço
          </a>
        </li>
        <li class="nav-item" *ngIf="role$ == 'admin'">
          <a class="nav-link" [routerLink]="['cinema','lista-endereco']">
            <span data-feather="file-text" class="align-text-bottom"></span>
            CRUD Endereço
          </a>
        </li> 
        <li class="nav-item" *ngIf="role$ == 'admin'"> 
        </li> 
        

      </ul>
      
    </app-menu>
    <div *ngIf="user$ | async as user" class="text-white ">
      <div *ngIf="user.username; else login">
        <i class="fa fa-user-circle mr-1"> </i>
        <a class="mr-1">{{ user.username }}</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div> 
  </nav>

  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']">Login</a>
    </span>
  </ng-template>

  <ng-template #vazio> 
    <span> 
    </span>
  </ng-template>
</header>
