<div class="container"> 
    <h4 class="text-center">Listar Filme</h4> 
        <div class="card">
          <div class="card-header"> 
            <div class="float-start">
                <h4>Filmes</h4>
               </div>
               <div class="float-right">
                <button *ngIf="role$ == 'admin'"  type="button" class="btn btn-primary" [routerLink]="['../novo-filme']">Novo Filme</button> 
              </div>
            </div>
            <div class="card-body">
                <table class="table table-hover" *ngIf="filmes$ | async as filme; else loading">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Diretor</th>
                            <th>Genero</th>
                            <th>Duração</th>
                            <th>Classificação</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let filme of filme | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td>{{filme.titulo}}</td>
                            <td>{{filme.diretor}}</td>
                            <td>{{filme.genero}}</td>
                            <td>{{filme.duracao}}</td>
                            <td>{{filme.classificacaoEtaria}}</td>
                             
                            <td>
                                <span class="float-right">
                                    <button *ngIf="role$ == 'admin'" class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(filme.id)">Atualizar</button>
                                    {{''}}
                                    <button *ngIf="role$ == 'admin'" class="btn btn-outline-danger mb-1 btn-sm" (click)="OnDelete(filme)">Remover</button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                <ng-template #loading>
                    <span>Carregando Cursos ...</span>
                </ng-template>
            </div>
           
        </div>
    </div> 
<br>
 
<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover esse filme?</p>
    <button type="button" class="btn btn-outline-danger" (click)="OnConfirmDelete()">Sim</button>
    {{''}}
    <button type="button" class="btn btn-outline-success" (click)="OnDeclineDelete()">Não</button>
  </div>
</ng-template>
 