<div class="container"> 
    <h4 class="text-center">Listar Sessão</h4> 
        <div class="card">
          <div class="card-header"> 
            <div class="float-start">
                <h4>Sessões</h4>
               </div>
               <div class="float-right">
                <button  type="button" class="btn btn-primary" *ngIf="role$ == 'admin'"  [routerLink]="['../novo-sessao']">Nova Sessão</button> 
              </div>
            </div>
            <div class="card-body">
                <table class="table table-hover" *ngIf="sessao$ | async as sessao">
                    <thead>
                        <tr>
                            <th>Id</th>  
                            <th>Filme</th> 
                            <th>Cinema</th> 
                            <th>Bairro</th> 
                            <th>Hora do Encerramento</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sessao of sessao">  
                            <td>{{sessao.id}}</td> 
                            <td>{{sessao.filme.titulo}}</td>   
                            <td>{{sessao.cinema.nome}}</td>  
                            <td>{{sessao.cinema.endereco.bairro}}</td>  
                            <td>{{sessao.horarioDeEncerramento}}</td> 
                            <td>
                                <span class="float-right">
                                    <button   *ngIf="role$ == 'admin'"  class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(sessao.id)" >Atualizar</button>
                                    {{''}}
                                    <button *ngIf="role$ == 'admin'" class="btn btn-outline-danger mb-1 btn-sm" (click)="OnDelete(sessao)">Remover</button>
                                    {{''}}
                                    <button   *ngIf="role$ == 'admin'"  class="btn btn-outline-warning mb-1 btn-sm"  (click)="OnCreate(sessao.id)">Adquirir</button>
                                     
                                </span>
                            </td>
                        </tr>
                        
                    </tbody>
                </table> 
            </div> 
        </div>
    </div> 
<br>

<ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja remover essa sessão?</p>
      <button type="button" class="btn btn-outline-danger" (click)="OnConfirmDelete()" >Sim</button>
      {{''}}
      <button type="button" class="btn btn-outline-success" (click)="OnDeclineDelete()" >Não</button>
    </div>
  </ng-template>

  <ng-template #createModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja adquirir essa sessão?</p>
      <button type="button" class="btn btn-outline-danger" (click)="OnConfirmCreate()" >Sim</button>
      {{''}}
      <button type="button" class="btn btn-outline-success" (click)="OnDeclineCreate()" >Não</button>
    </div>
  </ng-template>
 
 
 