<div class="container">
    <h4 class="text-center">Cadastrar Cinema</h4>
    <div class="card">
      <div class="card-header">
        <div class="float-start">
          <h4>Nova Sessão</h4>
        </div>
        <div class="float-right">
          <button type="button" class="btn btn-primary" [routerLink]="['../lista-sessao']">Lista de Sessões</button>
        </div>
      </div>
     
    <div class="card-body">
        <form [formGroup]="formularioSessao" (submit)="cadastrar()">
        <div class="form-group">
          <label for="nome">Nova Sessão</label>
          <input type="text" class="form-control" id="nome" placeholder="nome"
          formControlName="Nome"  
          name="nome"> 
          
          <app-mensagem *ngIf="
          formularioSessao.get('Nome')?.errors?.required &&
          formularioSessao.get('Nome')?.touched
          " mensagem="Nome da Sessão é obrigatório">
        </app-mensagem>
        </div> 

        <div class="form-group">
            <label for="cinema">Cinema:</label>
            <select formControlName="CinemaId" 
            class="form-control"
            (change)=" changeCinema($event)"
            *ngIf="cinema$ | async as cinema"
            [(ngModel)]="cinemaId">
                <option disabled>Select Cinema</option>
                <option>Choose Cinema</option>
                <option *ngFor="let cinema of cinema" [ngValue]="cinema.id">{{cinema.nome}}</option>
            </select>
            <app-mensagem *ngIf="
            formularioSessao.get('CinemaId')?.errors?.required &&
            formularioSessao.get('CinemaId')?.touched
            " mensagem="Cinema é obrigatório">
          </app-mensagem>
        </div>
        
        <div class="form-group">
            <label for="filme">Filme:</label>
            <select formControlName="FilmeId" 
            class="form-control" 
            (change)=" changeFilme($event)"
            *ngIf="filme$ | async as filme"
            [(ngModel)]="filmeId">
                <option disabled>Select Filme</option>
                <option>Choose Filme</option>
                <option *ngFor="let filme of filme" [ngValue]="filme.id">{{filme.titulo}}</option>
            </select> 

            <app-mensagem *ngIf="
            formularioSessao.get('FilmeId')?.errors?.required &&
            formularioSessao.get('FilmeId')?.touched
            " mensagem="Filme é obrigatório">
          </app-mensagem>
        </div>
          
        <button type="submit" class="btn btn-primary btn-block" [disabled]="formularioSessao.invalid">
            Salvar Sessão
          </button>
    </form>
    </div>
  </div>
  </div>