<div class="container"> 
    <h4 class="text-center">Listar Gerente</h4> 
        <div class="card">
          <div class="card-header"> 
            <div class="float-start">
                <h4>Gerentes</h4>
               </div>
               <div class="float-right">
                <button  type="button" class="btn btn-primary">Novo Gerente</button> 
              </div>
            </div>
            <div class="card-body">
                <table class="table table-hover" *ngIf="Gerente$ | async as gerente">
                    <thead>
                        <tr>
                            <th>Nome</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let gerente of gerente ">
                            <td>{{gerente.nome}}</td> 
                        </tr>
                    </tbody>
                </table> 
            </div>
           
        </div>
    </div> 
<br>
 
 
 