<div class="container">
    <h4 class="text-center">Atualizar Sessoes</h4>
    <div class="card">
      <div class="card-header">
        <div class="float-start">
          <h4>Atualizar Sessoes</h4>
        </div>
        <div class="float-right">
          <button type="button" class="btn btn-primary" [routerLink]="['../lista-sessao']">Lista de Sessões</button>
        </div>
      </div>
     
    <div class="card-body">
        <form [formGroup]="formularioSessao"> 
            
        <div class="form-group">
            <label for="cinema">Cinema:</label>
            <select formControlName="CinemaId" 
            class="form-control"
            (change)=" changeCinema($event)"
            *ngIf="cinema$ | async as cinema"
            [(ngModel)]="cinemaId">
                <option disabled>Select Cinema</option>
                <option>Choose Cinema</option>
                <option *ngFor="let cinema of cinema" [ngValue]="cinema.id">{{cinema.nome}}</option>
            </select> 
        </div>
        
        <div class="form-group">
            <label for="filme">Filme:</label>
            <select formControlName="FilmeId" 
            class="form-control" 
            (change)=" changeFilme($event)"
            *ngIf="filme$ | async as filme"
            [(ngModel)]="filmeId">
                <option disabled>Select Filme</option>
                <option>Choose Filme</option>
                <option *ngFor="let filme of filme" [ngValue]="filme.id">{{filme.titulo}}</option>
            </select> 

            <app-mensagem *ngIf="
            formularioSessao.get('FilmeId')?.errors?.required &&
            formularioSessao.get('FilmeId')?.touched
            " mensagem="Filme é obrigatório">
          </app-mensagem>
        </div>
          
        <button  *ngIf="role$ == 'admin'" type="submit" class="btn btn-primary btn-block"
        type="submit"
        class="btn btn-primary btn-block" 
        (click)="OnUpdate()">
          Alterar Cinema
        </button>
    </form>
    </div>
  </div>
  </div>

  <ng-template #updateModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja atualizar esse filme?</p>
      <button type="button" class="btn btn-outline-danger" (click)="OnConfirmUpdate()" >Sim</button>
      {{''}}
      <button type="button" class="btn btn-outline-success" (click)="OnDeclineUpdate()" >Não</button>
    </div>
  </ng-template>