   
  <div class="col d-flex justify-content-center">
    <div class="row">
      <div class="card">
        <div class="card-body"> 
          <app-sessao-adquirida></app-sessao-adquirida> 
        </div>
      </div>
    </div>  
  </div> 
  <br>
 
<br>
<div class="col d-flex justify-content-center">
  <div class="row  px-md-5" style="margin-bottom: 1rem;">
    <div class="card">
      <div class="card-body"> 
        <app-grafico-sessao></app-grafico-sessao> 
      </div>
    </div>  
  </div>
  <div class="row  px-md-5">
    <div class="card">
      <div class="card-body"> 
        <app-grafico-filme></app-grafico-filme> 
      </div>
    </div>  
  </div>
</div>
 