<div class="container"> 
    <h4 class="text-center">Listar Endereço</h4> 
        <div class="card">
          <div class="card-header"> 
            <div class="float-start">
                <h4>Endereços</h4>
               </div>
               <div class="float-right">
                <button  type="button" class="btn btn-primary" [routerLink]="['../novo-endereco']">Novo Endereco</button> 
              </div>
            </div>
            <div class="card-body">
                <table class="table table-hover" *ngIf="endereco$ | async as endereco" >
                    <thead>
                                <th>Id</th>
                                <th>Logradouro</th>
                                <th>Bairro</th>
                                <th>Numero</th> 
                    </thead>
                    <tbody>
                        <tr *ngFor="let endereco of endereco">
                            <td>{{endereco.id}}</td>
                            <td>{{endereco.logradouro}}</td> 
                            <td>{{endereco.bairro}}</td> 
                            <td>{{endereco.numero}}</td> 
                            <td>
                                <span class="float-right">
                                    <button  class="btn btn-outline-warning mb-1 btn-sm" >Atualizar</button>
                                    {{''}}
                                    <button   class="btn btn-outline-danger mb-1 btn-sm" >Remover</button>
                                </span>
                            </td>
                        </tr>
                        
                    </tbody>
                </table> 
            </div>
           
        </div>
    </div> 
<br>

<ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja remover esse endereco?</p>
      <button type="button" class="btn btn-outline-danger">Sim</button>
      {{''}}
      <button type="button" class="btn btn-outline-success">Não</button>
    </div>
  </ng-template>
 
 
 