<div class="container">
    <h4 class="text-center">Atualizar Cinema</h4>
    <div class="card"> 
        <div style="position: relative; width: 100%;">
            <canvas id="testChart" ngChartjs [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend"
             [chartType]="lineChartType" [inlinePlugins]="inlinePlugin" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
        
        <p>Change chart type</p>
        <button class="button" (click)="changeChartType()">Click</button>
        <p>Change chart label</p>
        <button class="button" (click)="changeChartLabel()">Click</button>
        <p>Get chart instance</p>
        <button class="button" (click)="getChartInstance()">Click</button>
    </div>
    
 
</div>
 