<div class="container">
    <h4 class="text-center">Cadastrar Gerente</h4>
    <div class="card">
      <div class="card-header">
        <div class="float-start">
          <h4>Novo Gerente</h4>
        </div>
        <div class="float-right">
          <button type="button" class="btn btn-primary" >Lista de Gerentes</button>
        </div>
      </div>
     
    <div class="card-body">
        <form>
        <div class="form-group">
          <label for="titulo">Nome do Gerente</label>
          <input type="text" class="form-control" id="nomeGerente" placeholder="nomeGerente"  
            name="nomeGerente"> 
        </div>
          
        <button type="submit" class="btn btn-primary btn-block">
          Salvar Gerente
        </button>
    </form>
    </div>
  </div>
  </div>